{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
    <table class="cinereousTable">
        <thead>
        <tr>
            <th>Syllabus name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {{range .Syllabus}}
                <tr>
                    <td><a href="https://localhost:4000/syllabusinfo?id={{.SyllabusInfoID}}">
                        #{{.Title}}
                    </a>
                    </td>
                    <td style="color:#FF7F50">
                        Waiting for confirmation.
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
    <br>
{{end}}
