{{template "base" .}}
{{define "title"}}Create Syllabus{{end}}
{{define "main"}}
    <form action='/admin/create' method='POST'>
        {{with .Form}}
            <div>
                <label>Discipline name:</label>
                    {{with .Errors.Get "title"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='title' value='{{.Get "title"}}'>
            </div>
            <label>Teacher info:</label>
            <div>
                <label>Full name:</label>
                    {{with .Errors.Get "fullname"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='fullname' value='{{.Get "fullname"}}'>
            </div>

            <div>
                <label>Degree:</label>
                    {{with .Errors.Get "degree"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='degree' value='{{.Get "degree"}}'>
            </div>

            <div>
                <label>Rank:</label>
                    {{with .Errors.Get "rank"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='rank' value='{{.Get "rank"}}'>
            </div>

            <div>
                <label>Position:</label>
                    {{with .Errors.Get "position"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='position' value='{{.Get "position"}}'>
            </div>

            <div>
                <label>Contacts:</label>
                    {{with .Errors.Get "contacts"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='contacts' value='{{.Get "contacts"}}'>
            </div>

            <div>
                <label>Scientific interests:</label>
                    {{with .Errors.Get "interests"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='interests' value='{{.Get "interests"}}'>
            </div>

            <div>
                <label>Discipline title:</label>
                    {{with .Errors.Get "subjectName"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='subjectName' value='{{.Get "subjectName"}}'>
            </div>
            <div>
                <label>Number of credits:</label>
                    {{with .Errors.Get "credits_num"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='credits_num' value='{{.Get "credits_num"}}'>
            </div>

            <div>
                <label>Course goal(s):</label>
                    {{with .Errors.Get "course_goal"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='course_goal' value='{{.Get "course_goal"}}'>
            </div>

            <div>
                <label>Skills & Competences:</label>
                    {{with .Errors.Get "skills"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='skills' value='{{.Get "skills"}}'>
            </div>

            <div>
                <label>Course objectives::</label>
                    {{with .Errors.Get "objectives"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='objectives' value='{{.Get "objectives"}}'>
            </div>
            <div>
                <label> Course learning outcomes:</label>
                    {{with .Errors.Get "outcomes"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='outcomes' value='{{.Get "outcomes"}}'>
            </div>

            <div>
                <label>Prerequisites:</label>
                    {{with .Errors.Get "prerequisites"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='prerequisites' value='{{.Get "prerequisites"}}'>
            </div>

            <div>
                <label>Post-requisites:</label>
                    {{with .Errors.Get "post_requisites"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                <input type='text' name='post_requisites' value='{{.Get "post_requisites"}}'>
            </div>

            <div>
                <label>Instructors:</label>
                    {{with .Errors.Get "instructors"}}
                        <label class='instructors'>{{.}}</label>
                    {{end}}
                <input type='text' name='instructors' value='{{.Get "instructors"}}'>
            </div>









            <label>Lecture! practical/seminar/laboratory sessiion plan:</label>
            <div style="display:grid">
                <input class="hide" id="hd-11" type="checkbox" >
                <label for="hd-11">Week 1!</label>
                <div>
                    <div>
                        <div>
                            <div>
                                <label>Week number:</label>
                                    {{with .Errors.Get "week_num"}}
                                        <label class='error'>{{.}}</label>
                                    {{end}}
                                <input type='text' name='week_num' value='{{.Get "week_num"}}'>
                            </div>

                            <div>
                                <label>Lecture:</label>
                                    {{with .Errors.Get "lecture"}}
                                        <label class='error'>{{.}}</label>
                                    {{end}}
                                <input type='text' name='lecture' value='{{.Get "lecture"}}'>
                            </div>

                            <div>
                                <label>Lecture hours:</label>
                                    {{with .Errors.Get "lecture_h"}}
                                        <label class='error'>{{.}}</label>
                                    {{end}}
                                <input type='text' name='lecture_h' value='{{.Get "lecture_h"}}'>
                            </div>

                            <div>
                                <label>Practice:</label>
                                    {{with .Errors.Get "practice"}}
                                        <label class='error'>{{.}}</label>
                                    {{end}}
                                <input type='text' name='practice' value='{{.Get "practice"}}'>
                            </div>

                            <div>
                                <label>Practice hours:</label>
                                    {{with .Errors.Get "practice_h"}}
                                        <label class='error'>{{.}}</label>
                                    {{end}}
                                <input type='text' name='practice_h' value='{{.Get "practice_h"}}'>
                            </div>

                            <div>
                                <label>Assignment:</label>
                                    {{with .Errors.Get "assignment"}}
                                        <label class='error'>{{.}}</label>
                                    {{end}}
                                <input type='text' name='assignment' value='{{.Get "assignment"}}'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <label>List of assignments for Student Independent Study:</label>

            <div style="display:grid">
                <input class="hide" id="hd-1" type="checkbox" >
                <label for="hd-1">Week 1!</label>
                <div>
                    <div>
                        <div>
                            <label>Week number</label>
                                {{with .Errors.Get "week_num2"}}
                                    <label class='error'>{{.}}</label>
                                {{end}}
                            <input type='text' name='week_num2' value='{{.Get "week_num2"}}'>
                        </div>

                        <div>
                            <label>Topic:</label>
                                {{with .Errors.Get "table2_topic"}}
                                    <label class='error'>{{.}}</label>
                                {{end}}
                            <input type='text' name='table2_topic' value='{{.Get "table2_topic"}}'>
                        </div>

                        <div>
                            <label>Hours:</label>
                                {{with .Errors.Get "hours"}}
                                    <label class='error'>{{.}}</label>
                                {{end}}
                            <input type='text' name='hours' value='{{.Get "hours"}}'>
                        </div>

                        <div>
                            <label>Recommended literature and other sources (links):</label>
                                {{with .Errors.Get "literature"}}
                                    <label class='error'>{{.}}</label>
                                {{end}}
                            <input type='text' name='literature' value='{{.Get "literature"}}'>
                        </div>

                        <div>
                            <label>Form of submission:</label>
                                {{with .Errors.Get "submission"}}
                                    <label class='error'>{{.}}</label>
                                {{end}}
                            <input type='text' name='submission' value='{{.Get "submission"}}'>
                        </div>
                    </div>
                </div>
            </div>



            <div>
                <input type='submit' value='Create Student'>
            </div>
        {{end}}
    </form>
{{end}}
