{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}

    <table class="cinereousTable">
        <thead>
            <tr>
                <th>Название силлабуса</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
         {{range .Syllabus}}


            <tr>
                <td>
                    #{{.Title}}
                </td>
                <td>
                <a href="https://localhost:4000/admin/syllabusinfo?id={{.SyllabusInfoID}}"  class="myButton">Go</a>
                 </td>
            </tr>
            {{end}}
            </tbody>
    </table>
    <br>

{{end}}
