{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
{{if .IsDied}}

  <div class="live" style="display:flex; justify-content:center;">
        <img src="/static/img/skull.png" style="width: 6%">
  </div>
  <div class="live" style="display:flex; justify-content:center;">
       <h1><span style="font-size:30px; color: red;">You have died!!! </span></h1><br><br>
  </div>
  <br><br>
{{end}}
 {{with .Student}}
 <div class="user" style="display:flex; justify-content:center;">
     <img src="/static/img/unik.png"><h1 style="margin-top:5px"><span style="font-size:23px;">Hello, {{.Username}}</span>
                </h1>   </div>



         {{if .IsLast}}
      <div class="live" style="display:flex; justify-content:center;">
           <h1><span style="font-size:23px; color: #E7692D"> You can pay with your life!!! </span></h1>
        </div>

    {{else}}
    <div class="live" style="display:flex; justify-content:center;">
        <img src="/static/img/star.png"><h1 style="margin-top:5px"><span style="font-size:23px;">Live:  {{.LifeTime}}</span>
        </h1>
    </div>
    {{end}}




    <div class="live" style="display:flex; justify-content:center;">
        <h1 style="margin-top:5px"><span style="font-size:23px;">Group:  {{.GroupName}}</span>
        </h1>
    </div>
    <div class="live" style="display:flex; justify-content:center;">
        <h1 style="margin-top:5px"><span style="font-size:23px;">Subject:  {{.SubjectName}}</span>
        </h1>
    </div><br><br><br>
    <div class="button" style="display:grid;width:100%;text-align:center;justify-content:center">
        <a href="https://localhost:4000/prediction"  class="myButton" > Get Prediction </a>
    </div>
<br><br>

    {{end}}
             <div  style="display:grid;width:100%;text-align:center;justify-content:center;">
                <span style="color: #34495E;
                             text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
                             font-size:25px;
">{{.Prediction}}</span>
            </div>
{{end}}