{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
    <table>
        <h1>Syllabus</h1>
        <thead>
            <tr>
                <th>General information</th>
            </tr>
        </thead>
        <tbody>
            {{range .Syllabus}}
               <tr>
                    <td>
                        Course title
                    </td>
                    <td>
                        {{.Title}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Number of credits
                    </td>
                    <td>
                        {{.Credits}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Prerequisites
                    </td>
                    <td>
                        {{.Prerequisites}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Postrequisites
                    </td>
                    <td>
                        {{.Postrequisites}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Lecturer(s)
                    </td>
                    <td>

                    </td>
               </tr>
               <tr>
                    <td>
                        Course goal(s)
                    </td>
                    <td>
                        {{.Goals}}
                    </td>
               </tr>
               <tr>
                    <td>
                         Course objectives:
                    </td>
                    <td>
                        {{.Objectives}}
                    </td>
               </tr>
               <tr>
                    <td>
                         Skills & competences
                    </td>
                    <td>
                        {{.SkillsCompetences}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Course learning outcomes
                    </td>
                    <td>
                        {{.LearningOutcomes}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Course instructor(s)
                    </td>
                    <td>
                        {{.Instructors}}
                    </td>
               </tr>
            {{end}}
        </tbody>
    </table>
{{end}}