{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
    <table>
        <p align="center" style="font-size:30px;">Syllabus</p>
        <thead>
            <tr>
                <th colspan=2 style="padding: 0 40% 0 35%;">General information</th>
            </tr>
        </thead>
        <tbody>
            {{range .Syllabus}}
               <tr>
                    <td>
                        Course title
                    </td>
                    <td>
                        {{.Title}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Number of credits
                    </td>
                    <td>
                        {{.Credits}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Prerequisites
                    </td>
                    <td>
                        {{.Prerequisites}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Postrequisites
                    </td>
                    <td>
                        {{.Postrequisites}}
                    </td>
               </tr>
            {{end}}
                <tr>
                    <td>
                        Lecturer(s)
                    </td>
                    <td>
                        {{range .Teacher}}
                            {{.FullName}}, {{.Degree}}, {{.Rank}}, {{.Position}}, {{.Contacts}}, {{.Interests}}
                        {{end}}
                    </td>
               </tr>
            {{range .Syllabus}}
               <tr>
                    <td>
                        Course goal(s)
                    </td>
                    <td>
                        {{.Goals}}
                    </td>
               </tr>
               <tr>
                    <td>
                         Course objectives:
                    </td>
                    <td>
                        {{.Objectives}}
                    </td>
               </tr>
               <tr>
                    <td>
                         Skills & competences
                    </td>
                    <td>
                        {{.SkillsCompetences}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Course learning outcomes
                    </td>
                    <td>
                        {{.LearningOutcomes}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Course instructor(s)
                    </td>
                    <td>
                        {{.Instructors}}
                    </td>
               </tr>
            {{end}}
        </tbody>
    </table>
    <table>
        <p align="center" style="font-size:25px;">Lecture! practical/seminar/laboratory session plans</p>
        <tbody>
             <tr>
                    <td>
                        Week Number
                    </td>
                    <td>
                        Lecture Topic
                    </td>
                    <td>
                        Lecture Hours
                    </td>
                    <td>
                        Practice Topic
                    </td>
                    <td>
                        Practice Hours
                    </td>
                    <td>
                        Assignment
                    </td>
               </tr>
            {{range .Topic}}
               <tr>
                    <td>
                        {{.WeekNumber}}
                    </td>
                    <td>
                        {{.LectureTopic}}
                    </td>
                    <td>
                        {{.LectureHours}}
                    </td>
                    <td>
                        {{.PracticeTopic}}
                    </td>
                    <td>
                        {{.PracticeHours}}
                    </td>
                    <td>
                        {{.Assignment}}
                    </td>
               </tr>
            {{end}}
        </tbody>
    </table>
    <table>
        <p align="center" style="font-size:25px;">List of assignments for Student Independent Study</p>
        <tbody>
             <tr>
                    <td>
                        Week Number
                    </td>
                    <td>
                        Topics
                    </td>
                    <td>
                        Hours
                    </td>
                    <td>
                        Recommended Literature
                    </td>
                    <td>
                        Submission Form
                    </td>
               </tr>
            {{range .Independent}}
               <tr>
                    <td>
                        {{.WeekNumber}}
                    </td>
                    <td>
                        {{.Topics}}
                    </td>
                    <td>
                        {{.Hours}}
                    </td>
                    <td>
                        {{.RecommendedLiterature}}
                    </td>
                    <td>
                        {{.SubmissionForm}}
                    </td>
               </tr>
            {{end}}
        </tbody>
    </table>
{{end}}



