{{template "base" .}}
{{define "title"}}Create Syllabus{{end}}
{{define "main"}}



<table>
<p align="center" style="font-size:30px;">Syllabus</p>
{{with .TopicOneRow}}
 <form action="https://localhost:4000/admin/updateTopic?id={{.SyllabusInfoId}}&weekNum={{.WeekNumber}}" method="POST">
        <tbody>

               <tr>
                    <td >
                        Week Number
                    </td>
                    <td >
                        <input type="text" name="WeekNumber" style="width:100%" placeholder="WeekNumber" value="{{.WeekNumber}}"/>
                    </td>
               </tr>
               <tr>
                    <td>
                        Lecture Topic
                    </td>
                    <td>
                        <select name="lectureTopic">
                        {{range .LectureTopic}}
                        <option value="{{.Content}}">{{.Content}}</option>
                        {{end}}
                        </select>
                        <input type="text" name="LectureTopic" style="width:100%" placeholder="Lecture Topic"/>
                    </td>
               </tr>
               <tr>
                    <td>
                        Lecture Hours
                    </td>
                    <td>
                        <select name="lectureHours">
                            {{range .LectureHours}}
                            <option value="{{.ContentInt}}">{{.ContentInt}}</option>
                            {{end}}
                        </select>
                        <input type="text" name="LectureHours" style="width:100%" placeholder="Lecture Hours"/>
                    </td>
               </tr>
               <tr>
                    <td>
                        Practice Topic
                    </td>
                    <td>
                        <select name="practiceTopic">
                            {{range .PracticeTopic}}
                            <option value="{{.Content}}">{{.Content}}</option>
                            {{end}}
                        </select>
                        <input type="text" name="PracticeTopic" style="width:100%" placeholder="Practice Topic"/>
                    </td>
               </tr>

               <tr>
                    <td>
                        Practice Hours
                    </td>
                    <td>
                        <select name="practiceHours">
                            {{range .PracticeHours}}
                            <option value="{{.ContentInt}}">{{.ContentInt}}</option>
                            {{end}}
                        </select>
                        <input type="text" name="PracticeHours" style="width:100%" placeholder="Practice Hours"/>
                    </td>
               </tr>
               <tr>
                    <td>
                         Assignment
                    </td>
                    <td>
                        <select name="assignment">
                            {{range .Assignment}}
                            <option value="{{.Content}}">{{.Content}}</option>
                            {{end}}
                        </select>
                         <input type="text" name="Assignment" style="width:100%" placeholder="Assignment"/>
                    </td>
               </tr>



                   <th colspan=2 >
                     <input  type="submit" value="Update">
                    </th>

            {{end}}
        </tbody>
    </table>





    </form>



{{end}}