{{template "base" .}}
{{define "title"}}Create Syllabus{{end}}
{{define "main"}}




 <table>
 {{range .Syllabus}}
 <form action="https://localhost:4000/admin/updateSyllabuss?id={{.SyllabusInfoID}}" method="POST">
        <p align="center" style="font-size:30px;">Syllabus</p>
        <thead >
            <tr>
                <th colspan=2 style="padding: 0 40% 0 35%;">General information</th>
            </tr>
        </thead>
        <tbody>

               <tr>
                    <td >
                        Course title
                    </td>
                    <td >
                        <input type="text" disabled="disabled"  name="Title" style="width:100%" placeholder="Title" value="{{.Title}}"/>
                    </td>
               </tr>

               <tr>
                    <td>
                        Prerequisites
                    </td>
                    <td>
                         <input type="text" disabled="disabled" name="Prerequisites" style="width:100%" placeholder="Title" value="{{.Prerequisites}}"/>
                    </td>
               </tr>
               <tr>
                    <td>
                        Postrequisites
                    </td>
                    <td>
                        <input type="text"  disabled="disabled"  name="Postrequisites" style="width:100%" placeholder="Credits" value="{{.Postrequisites}}"/>
                    </td>
               </tr>

               <tr>
                    <td>
                        Course goal(s)
                    </td>
                    <td>
                        {{end}}

                        <select name="Goals">
                            {{range .TempGoals}}
                            <option value="{{.Content}}">{{.Content}}</option>
                            {{end}}
                            <br/><br/>
                            OR
                            <br/><br/>
                            <input type="text" name="goals" style="width:100%" placeholder="Goals"/>
                            <br/>
                        </select>
                        {{range .Syllabus}}
                        </td>
               </tr>
               <tr>
                    <td>
                         Course objectives:
                    </td>
                    <td>
                        {{end}}

                        <select name="Objectives">
                            {{range .TempObjectives}}
                            <option value="{{.Content}}">{{.Content}}</option>
                            {{end}}
                            <br/><br/>
                            OR
                            <br/><br/>
                            <input type="text" name="objectives" style="width:100%" placeholder="Objectives"/>
                            <br/>
                        </select>
                        {{range .Syllabus}}
                    </td>
               </tr>
               <tr>
                    <td>
                         Skills & competences
                    </td>
                    <td>
                        <input type="text" disabled="disabled"  name="SkillsCompetences" style="width:100%" placeholder="SkillsCompetences" value="{{.SkillsCompetences}}"/>
                    </td>
               </tr>
               <tr>
                    <td>
                        Course learning outcomes
                    </td>
                    <td>
                        {{end}}

                        <select name="Outcomes">
                            {{range .TempOutcomes}}
                            <option value="{{.Content}}">{{.Content}}</option>
                            {{end}}
                            <br/><br/>
                            OR
                            <br/><br/>
                            <input type="text" name="outcomes" style="width:100%" placeholder="Outcomes"/>
                            <br/>
                        </select>
                        {{range .Syllabus}}
                    </td>
               </tr>
               <tr>
                    <td>
                        Course instructor(s)
                    </td>
                    <td>
                        <input type="text" disabled="disabled"  name="Instructors" style="width:100%" placeholder="Goals" value="{{.Instructors}}"/>
                    </td>

               </tr>

                   <th colspan=2 >
                     <input  type="submit" value="Update">
                    </th>

            {{end}}
        </tbody>
    </table>





    </form>
{{end}}
