<table>
    <p align="center" style="font-size:25px;">Student performance evaluation system for the course</p>
    <tbody>
    <tr>
        <td>
            Period
        </td>
        <td>
            Assignments
        </td>
        <td>
            Number of points
        </td>
        <td>
            Total
        </td>
    </tr>

    <tr>
        <td>
            1st attestation
        </td>
        <td>
            Assignment 1
            Assignment 2
            Assignment 3
            Midterm
        </td>
        <td>
            20
            20
            20
            40
        </td>
        <td>
            100
        </td>
    </tr>


    <tr>
        <td>
            2nd attestation
        </td>
        <td>
            Assignment 4
            Assignment 5
            Assignment 6
            Endterm
        </td>
        <td>
            20
            20
            20
            50
        </td>
        <td>
            100
        </td>
    </tr>


    <tr>
        <td>
            Final exam
        </td>
        <td>
            Final Exam
        </td>
        <td>

        </td>
        <td>
            100
        </td>
    </tr>


    <tr>
        <td>
            Total
        </td>
        <td>
            0,3 * 1st Att + 0,3 * 2nd Att + 0,4*final
        </td>
        <td>
        </td>
        <td>
            100
        </td>
    </tr>
    </tbody>
</table>